{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>Python оқулықтары</title>

	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

	<!-- Fontawesome font file css -->
	<link rel="stylesheet" type="text/css" href="{% static 'new/css/font-awesome.min.css' %}">

	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="{% static 'new/css/global.style.css' %}">
</head>

<body>
	
	<div class="wrapper">
	
		<div class="wrapper-inline creamy-bg">

			<!-- Page content start -->
			{% block content %}
 
			{% endblock %} 
			
			<!-- Page content end -->
		</div>
	</div>


	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>

	<!-- JQuery library file. requared all pages -->
	<script src="{% static 'new/js/jquery-3.2.1.min.js' %}"></script>

	<!-- Template global script file. requared all pages -->
	<script src="{% static 'new/js/global.script.js' %}"></script>

	
</body>

</html>