{% extends 'base.html' %}
{% load static %}
{% block content %}
            
<main class="no-margin">

    <section class="container">

        <!-- POST DETAIL ITEM START -->
        <div class="form-divider"></div>
      
        <!-- POST DETAIL ITEM END -->



        <!-- POST DETAIL CONTENT START -->
        <div class="post-detail">
            <h3>Python тіліне кіріспе </h3>
            <p>Python - жоғары дәрежелі кодтың оқылуын және әзірлеушінің өнімділігін арттыруға мақсатталған жалпы мақсаттағы бағдарламалау тілі. Python тілі аз синтаксисті талап етеді. Бірақ сол уақытта стандартты кітапханасы үлкен көлемді пайдалы функцияларды қамтиды.<br>Python — жоғары дәрежедегі бағдарламаллау тілі. Python тілі қазіргі кезде ең көп таралған бағдарламаллау тілі болып саналады. Бұл тілде жасалған ең атақты бағдарлама ол бәріміз білетін Instagram əлеуметтік желісі. Бұдан баска Python бағдарламалау тілінде BitTorrent, Ubuntu, Blender, GIMP, Civilization IV, Battlefield 2, World of Tanks секілді бағдарламаларда кездестіре аламыз. Python-ды қолданатын компанияларға Google, Facebook, [[Yahoo!|Yahoo], NASA, Red Hat, IBM, Instagram, Dropbox, Pinterest, Quora, Яндекс, Mail.Ru т.б келтіре аламыз.</p>
            <h3>Python тілінің тарихы</h3>
            <p>Алғашында Python тілі Ameoba операциялық жүйесімен әрекет етуге қабілетті ABC бағдарламаллау тілінің ұрпағы ретінде алынған. Кеиінірек Python дамып,ең басты және маңызды бағдарламаллау тіліне айналды.Ең алғаш жаңарту Python 2.0 жаңа нұсқасы жарық көрді. Біл жаңа нұсқада көптеген функциялар мен жаңа алгоритмдер түрін көрсетті. Жаңартудан кейін Python тілінің қолданушылары арта түседі. Алайда бұл тілдің жаңарту бұнымен біткен жоқ. 2008 жылдың 3 желтоқсанында Python 3.0 жарық көреді.</p>
            <p>Жоғарыда айтып өткендей Python тілі ABC тіліне ұқсас болып келеді. Қазіргі таңда көптеген бағдарламаллау тілдерінде бірнеше алгоритмды бір функцияның ішіне салу үшін жақша ({}) қойылады. Ал Python тілінде функциядан кеиін қос нүкте қойылып, алгоритмдер келесі қатардан бірнеше бос орын қалдырылып жазылады. Сонымен қатар басқа бағдарламалау тілдерінен басты ерекшелігі Python тілінде ақпарат түрлерінің (типы данных) үлкен орын алады. Сол себепті int, double секілді ақпарат түрлеріне үлкен мәнді сандар сия алады.</p>
          
        </div>
        <!-- POST DETAIL CONTENT END -->


        <div class="form-divider"></div>

    </section>
</main>

{% endblock %}  