{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="no-margin">

    <section class="container">

        <!-- POST DETAIL ITEM START -->
        <div class="form-divider"></div>
      
        <!-- POST DETAIL ITEM END -->



        <!-- POST DETAIL CONTENT START -->
        <div class="post-detail">
            {% for related_video in related_videos %}
             <h3>{{ related_video.title }} </h3>
             <div>
                <iframe style="width:100%" height="400" src="{{ related_video.youtube }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
             </div>
             <p>{{ related_video.information|safe }}</p>
            {% endfor %}
            
        </div>
        <!-- POST DETAIL CONTENT END -->


        <div class="form-divider"></div>

    </section>
</main>
{% endblock %}  
